.reaction-image {
  	width: 48px;
}

.reaction-image:hover {
	transform: scale(1.5);
}

.reaction-container {
	margin: 2px;
	margin-top: 5px;
}

.reaction-label {
	text-align: center;
}

/*
#thankful {
	display: none;
}
*/